<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5fd37e4a-f8eb-4fd9-8c3d-911d247e0b2e/resourcegroups/ActiVeTech_App/providers/Microsoft.Web/sites/WebCourseWork20240304203331</ResourceId>
    <ResourceGroup>ActiVeTech_App</ResourceGroup>
    <ApiResourceId>/subscriptions/5fd37e4a-f8eb-4fd9-8c3d-911d247e0b2e/resourceGroups/ActiVeTech_App/providers/Microsoft.ApiManagement/service/WebCourseWorkapi/apis/WebCourseWork</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webcoursework20240304203331.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f85ada24-ff1d-4af2-972c-61b2cd552e59</ProjectGuid>
    <MSDeployServiceURL>webcoursework20240304203331.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebCourseWork20240304203331</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebCourseWork20240304203331</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>